user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
  worker_connections 1024;
}

http {
  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/access.log  main;

  sendfile            on;
  tcp_nopush          on;
  tcp_nodelay         on;
  keepalive_timeout   65;
  types_hash_max_size 2048;

  include             /etc/nginx/mime.types;
  default_type        application/octet-stream;
  #include /etc/nginx/conf.d/*.conf;

{% if hostvars[inventory_hostname].enable_cache is defined %}
  proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=allcache:50m max_size=50G;
  proxy_cache_key "$uri";
{% endif %}

  server {
    listen {{ nginx_port_ipv4 }} default_server;
    root /var/www/html;

    location / {
      proxy_pass  http://backend;
      proxy_connect_timeout 70;
      proxy_send_timeout    90;
      proxy_read_timeout    90;
    }

    location ~* .(css|js|jpg|jpeg|gif|png|ico)$ {
{% if hostvars[inventory_hostname].enable_cache is defined %}
      proxy_cache allcache;
      proxy_cache_valid 200 1d;
      proxy_cache_methods GET;
{% endif %}
      proxy_pass http://backend-storage;
      proxy_connect_timeout 70;
      proxy_send_timeout    90;
      proxy_read_timeout    90;
    }
  }
