{% include 'all_front.j2' %}

  upstream backend {
{% for host in groups['dc2-back'] %}
    server {{ hostvars[host]['ansible_host'] }}:80{% if backend_maintenance == 'none' %} max_fails=3 fail_timeout=30s; {% elif backend_maintenance == 'maintenance_dc2' %} down; {% else %} max_fails=3 fail_timeout=30s; {% endif %}               
{% endfor %}       
{% for host in groups['dc1-back'] %}
    server {{ hostvars[host]['ansible_host'] }}:80{% if backend_maintenance == 'none' %} backup; {% elif backend_maintenance == 'maintenance_dc2' %} max_fails=3 fail_timeout=30s; {% else %} down; {% endif %}               
{% endfor %}
  }

  upstream backend-storage {
{% for host in groups['dc2-stor'] %}
    server {{ hostvars[host]['ansible_host'] }}:80{% if backend_maintenance == 'none' %} max_fails=3 fail_timeout=30s; {% elif backend_maintenance == 'maintenance_dc2' %} down; {% else %} max_fails=3 fail_timeout=30s; {% endif %}               
{% endfor %}
{% for host in groups['dc1-stor'] %}
    server {{ hostvars[host]['ansible_host'] }}:80{% if backend_maintenance == 'none' %} backup; {% elif backend_maintenance == 'maintenance_dc2' %} max_fails=3 fail_timeout=30s; {% else %} down; {% endif %}               
{% endfor %}
  }
}
